body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 10px 0;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
}

#nav-links {
    display: flex;
    list-style: none;
}

#nav-links li {
    margin: 0 15px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header .branding h1 {
    margin: 0;
    font-size: 2em;
    color: #000;
}

header .branding h1 a {
    color: #000;
    text-decoration: none;
}

header .branding h1 a:hover {
    color: #555;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1em;
    transition: color 0.3s;
}

header nav ul li a.active {
    color: #555;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #555;
}

main {
    padding-top: 20px;
}

.biography, .awards, .exhibitions {
    margin-bottom: 20px;
    padding-top: 40px; 
    margin-right: 200px;
    margin-left: 200px;
    }

.biography h2, .awards h2, .exhibitions h2 {
    font-size: 2em;
    margin-bottom: 20px;
    
}

.biography .content { 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 0px ;
    margin-left: 0px;
    border: 0;
    max-width: 870px;
}

.biography .text {
    flex: 1;
    padding-right: 20px;
}

.biography .photo {
    flex: 1;
    margin-left: 200px;
}

.biography .photo img {
    max-width: 100%;
    height: auto;
}

.awards p, .exhibitions p {
    margin: 0px;
}


footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
}

.share {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    position: absolute;
    right: 20px;
    padding-bottom: 10px;
}

.share p {
    margin: 0;
    margin-right: 10px;
    font-weight: bold;
}

.share ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.share ul li {
    margin: 0 5px;
}

.share ul li a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
}

.share ul li a:hover {
    color :#555;
}

.share ul li img {
    width: 24px;
    height: 24px;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
        position: relative;
        z-index: 1100;
    }

    #nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    #nav-links.active {
        display: flex;
    }

    #nav-links li {
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header nav {
        position: relative;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin: 10px 0;
    }

    .biography, .awards, .exhibitions {
        margin: 0 20px;
        padding-top: 20px;
    }

    .biography .content {
        flex-direction: column;
        align-items: center;
    }

    .biography .text {
        padding-right: 0px;
        margin-bottom: 20px;
        text-align: left;
        width: 100%;
    }

    .biography .photo {
        width: 100%;
        margin-left: 0;
    }

    .biography .photo img {
        max-width: 100%;
        height: auto;
    }
}    