body {
    font-family: 'Montserrat', sans-serif;
}

.cover-photo-container {
    position: relative;
    text-align: center;
    color: white;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    z-index: 1;
    text-align: center;
}

.overlay h1 {
    font-size: 4em;
    margin: 0;
    font-weight: 700;
}

.navigation {
    z-index: 1;
    margin-top: 20px;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navigation li {
    margin: 0 15px;
}

.navigation a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

.navigation a:hover {
    color: #ccc;
}

@media (max-width: 768px) {
    .overlay h1 {
      font-size: 2em; 
    }
  }