@font-face {
    font-family: 'Miama Nueva';
    src: url('/fonts/miama/miama.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Hauora';
    src: url('/fonts/hauora_sans/fonts/otf/Hauora-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Hauora', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1B1818; 
    color: #FFF9F9;
}

.page-container {
    width: 1440px;
    height: 1017px;
    margin: 0 auto;
    background-color: #1B1818;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1350;
    height: 37px;
    padding: 20px 20px;
    background-color: #1B1818;
    position: relative;
    top: 20;
    left: 20;
    box-sizing: border-box; 
}

.logo {
    position: relative; 
    top: 10px; 
    margin-right: 690px;
}

.logo a {
    color: #FFF9F9;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 19.36px;
    position: relative;
}

.navigation {
    position: absolute;
    top: 20px; 
    left: 730px; 
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.navigation ul li a {
    color: #FFF9F9; 
    font-size: 16px; 
    font-style: normal;
    font-weight: 400; 
    line-height: 100%; 
    text-decoration: none; 
    position: relative;
}   

.navigation ul li a.active::after {
    content: '';
    position: absolute;
    left: calc(100% + 5px);
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FFF9F9;
}

.language-switcher {
    position: absolute;
    top: 20px; 
    right: 20px; 
    font-size: 16px; 
    color: #FFF9F9; 
}

.language-switcher a {
    text-decoration: none; 
    color: #FFF9F9; 
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.36px;
    margin: 0 5px; 
}

.language-switcher a:hover {
    text-decoration: underline; 
}

.header-line {
    width: calc(100% - 40px);
    height: 1px;
    background: #FFF9F9;
    margin: 21px 20px 0 20px;
    display: block;
}

/* Contact Page styles */
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 208px;
    left: 385px;
}

.background-image {
    position: absolute;
    top: 163px;
    left: 0;
    width: 325px;
    height: 432px;
    object-fit: cover;
    z-index: 1;
}

.contact-header {
    text-align: center;
    position: relative;
}

.contact-title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.contact-c {
    font-size: 180px;
    line-height: 180px;
    font-weight: 400;
    font-style: italic;
    font-family: 'Miama Nueva', serif;
    color: #C74B4B;
    width: 155px;
    height: 180px;
    position: relative;
    top: 5px;
    left: 0;
}

.contact-ont {
    font-size: 128px;
    line-height: 128px;
    font-family: 'Hauora', sans-serif;
    font-weight: 500;
    color: #f5f5f5;
    text-transform: uppercase;
    width: 260px;
    height: 128px;
    position: relative;
    top: 0;
    left: 0;
}

.contact-dash {
    width: 110px;
    height: 10px;
    background-color: #F5F5F5;
    display: inline-block;
    position: absolute;
    top: 190px;
    left: 0;
    z-index: 2;
}

.contact-act {
    font-size: 128px;
    line-height: 128px;
    font-weight: 500;
    font-family: 'Hauora', sans-serif;
    width: 342px;
    height: 128px;
    color: #f5f5f5;
    position: absolute;
    top: 131px;
    left: 141px;
    text-transform: uppercase;
    z-index: 2;
}

.contact-text {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    font-family: 'Hauora', sans-serif;
    color: #C74B4B;
    position: absolute;
    top: 21px;
    left: 690px;
    margin-right: 40px;
    text-align: left;
    width: 325px;
    height: 32px;
    text-transform: uppercase;
    opacity: 0.8;
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    position: relative;
    left: 345px;
    top: 120px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
    width: 325px;
    gap: 25px;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    width: 150px;
    border: none; 
    border-bottom: 1px solid rgba(245, 245, 245, 0.4);
    background-color: transparent;
    color: rgba(245, 245, 245, 0.4); 
    font-size: 16px;
    line-height: 16px;
    outline: none; 
}

.contact-form input[type="message"] {
    width: 325px;
    padding-bottom: 60px;
    border: none;
    border-bottom: 1px solid rgba(245, 245, 245, 0.4);
    background-color: transparent;
    color: rgba(245, 245, 245, 0.4);
    font-size: 16px;
    line-height: 16px;
    outline: none;
}

.send-btn {
    position: relative;
    top: 100px;
    left: 0;
    background-color: transparent;
    color: #f5f5f5;
    border: 1px solid #C74B4B;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    font-family: 'Haurora', sans-serif;
    cursor: pointer;
    text-align: center;
    border-radius: 25px;
    width: 325px;
    height: 50px;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 0 44px;
}

.send-btn:hover {
    background-color: #C74B4B;
}

.send-btn::before, 
.send-btn::after {
    content: '';
    width: 18px; 
    height: 18px; 
    background-image: url('/images/Star3.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}


.footer-container {
    margin-top: auto; 
    width: 100%;
    background-color: transparent;
    padding: 20px 0; 
    margin-bottom: 20px;
}

.footer-line {
    width: 100%; 
    height: 1px;
    background-color: #C74B4B;
    margin: 0 auto 0;
}

.social-icons {
    display: flex;
    position: relative;
    right: 40px;
    top: 18px;
    justify-content: flex-end;
    gap: 10px;
}

.social-icons a img {
    width: 21px;
    height: 21px;
}
