@font-face {
    font-family: 'Miama Nueva';
    src: url('/fonts/miama/miama.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Hauora';
    src: url('/fonts/hauora_sans/fonts/otf/Hauora-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Hauora', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1B1818; 
    color: #FFF9F9;
}

.page-container {
    width: 1440px;
    height: auto;
    margin: 0 auto;
    background-color: #1B1818;
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1350;
    height: 37px;
    padding: 20px 20px;
    background-color: #1B1818;
    position: relative;
    top: 20;
    left: 20;
    box-sizing: border-box; 
}

.logo {
    position: relative; 
    top: 10px; 
    margin-right: 690px;
}

.logo a {
    color: #FFF9F9;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 19.36px;
    position: relative;
}

.navigation {
    position: absolute;
    top: 20px; 
    left: 730px; 
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.navigation ul li a {
    color: #FFF9F9; 
    font-size: 16px; 
    font-style: normal;
    font-weight: 400; 
    line-height: 100%; 
    text-decoration: none; 
    position: relative;
}   

.navigation ul li a.active::after {
    content: '';
    position: absolute;
    left: calc(100% + 5px);
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FFF9F9;
}

.language-switcher {
    position: absolute;
    top: 20px; 
    right: 20px; 
    font-size: 16px; 
    color: #FFF9F9; 
}

.language-switcher a {
    text-decoration: none; 
    color: #FFF9F9; 
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.36px;
    margin: 0 5px; 
}

.language-switcher a:hover {
    text-decoration: underline; 
}

.desktop-lang-switcher {
    display: inline-block;
}

.mobile-lang-switcher {
    display: none;
}

.lang-btn {
    background-color: transparent;
    border: none;
    color: #FFF9F9;
    font-size: 14px;
    cursor: pointer;
}

.lang-btn:focus {
    outline: none;
}

.lang-dropdown {
    display: none;
    position: absolute;
    width: 26px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 1.2);
    z-index: 1002;
    right: 1px;
    height: 20px;
    top: 22px;
    background-color: #C74B4B;
}

.lang-dropdown a {
    color: #FFF9F9;
    text-decoration: none;
    display: block;
    text-align: center;
    left: -1px;
    position: relative;
    margin: 0;
    top: 0px;
    font-size: 14px;
}

.lang-dropdown.show {
    display: block;
}

.desktop-lang-switcher .lang-icon {
    display: none;
}

.lang-icon {
    width: 7px;
    height: 7px;
    fill: #F5F5F5;
    margin-left: 5px; 
    position: absolute;
    top: 9px; 
    left: 23px;
}

.menu-icon img {
    width: 30px;  
    height: 20px; 
    cursor: pointer;
    position: absolute;
    top: 36px;    
    padding-right: 0;
    right: 10px;
}

.menu-icon,
.navigation-panel {
    display: none;
}

.header-line {
    width: calc(100% - 40px);
    height: 1px;
    background: #FFF9F9;
    margin: 21px 20px 0 20px;
    display: block;
}

.vector-container {
    width: 1400px;
    height: 572px;
    margin: 0 auto; 
    padding: 0;
    box-sizing: border-box;
    position: relative;
    top: 40px;
}

.vector-svg {
    width: 100%;
    height: 100%;
}

/* Скрываем мобильное изображение на десктопе */
.mobile-only {
    display: none;
}

/* Скрываем SVG на мобильных устройствах */
.desktop-only {
    display: block;
}

.vector-image {
    width: 100%;
    height: 100%;
    background: url('/images/tree.png') no-repeat;
    background-size: cover;
    opacity: 1;
}

.masked-element {
    position: absolute;
    top: 234px;
    left: 20px;
    width: 176px;
    height: 380px;
    background: url('/images/tree.jpg') no-repeat center center;
    background-size: cover;
    clip-path: url(#arc-clip);
}

/* Стили для заголовка */
.title-container {
    position: absolute;
    top: 301px;
    left: 171px;
    width: 1018px;
    height: 200px;
}

.title {
    font-size: 180px;
    font-weight: 300;
    line-height: 180px;
    position: absolute;
    top: 0px;
    left: 164px;
    margin: 0;
}

.title-p {
    font-size: 200px;
    font-family: 'Miama Nueva', serif;
    font-weight: 400;
    font-style: italic;
    color: #C74B4B;
    line-height: 200px;
    position: absolute;
    top: 40px;
    left: 0;
}

.subtitle-container {
    position: absolute;
    top: 506px; 
    left: 863px; 
    width: 457px; 
    height: 16px; 
}

.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin: 0; 
    text-align: left;
    text-transform: uppercase;
}

.gallery-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative; 
    height: 1962px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
} 

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.gallery-item {
    width: 200px;
    height: 200px;
    position: absolute; 
    list-style-type: none;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: inherit;
}

/* Стили для первых шести элементов */
.item-1, .item-7, .item-13, .item-19, .item-25  {
    width: 670px;
    height: 460px;
    left: 558px;
    border-radius: 0px 200px 0px 200px;
}

.item-2, .item-8, .item-14, .item-20, .item-26  {
    width: 325px;
    height: 400px;
    left: 40px;
}

.item-3, .item-9, .item-15, .item-21, .item-27 {
    width: 498px;
    height: 323px;
    left: 385px;
}

.item-4, .item-10, .item-16, .item-22, .item-28 {
    width: 325px;
    height: 400px;
    left: 1075px;
    border-radius: 0px 0px 0px 150px;
}

.item-5, .item-11, .item-17, .item-23, .item-29 {
    width: 325px;
    height: 400px;
    left: 40px;
    border-radius: 0px 150px 0px 0px;
}

.item-6, .item-12, .item-18, .item-24, .item-30 {
    width: 325px;
    height: 400px;
    left: 558px;
}

.item-1 {
    top: 152px;
}

.item-2 {
    top: 292px;
}

.item-3 {
    top: 782px;
}

.item-4 {
    top: 944px;
}

.item-5 {
    top: 1195px;
}

.item-6 {
    top: 1395px;
}

/* Стили для следующих элементов */
.item-7 {
    top: 1935px;
}

.item-8 {
    top: 2095px;
}

.item-9 {
    top: 2585px;
}

.item-10 {
    top: 2747px;
}

.item-11 {
    top: 2998px;
}

.item-12 {
    top: 3198px;
}

.item-13 {
    top: 3738px;
}

.item-14 {
    top: 3898px;
}
.item-15 {
    top: 4388px;
}

.item-16 {
    top: 4550px;
}

.item-17 {
    top: 4801px;
}

.item-18 {
    top: 5001px;
}

.item-19 {
    top: 5541px;
}

.item-20 {
    top: 5701px;
}

.item-21 {
    top: 6191px;
}

.item-22 {
    top: 6353px;
}

.item-23 {
    top: 6604px;
}

.item-24 {
    top: 6804px;
}

.item-25 {
    top: 7344px;
}

.item-26 {
    top: 7504px;
}

.item-27 {
    top: 7994px;
}

.item-28 {
    top: 8156px;
}

.image-title {
    margin-top: 10px;
    font-size: 16px; 
    font-weight: 400;
    color: #F5F5F5;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    display: block; 
    background-color: transparent; 
}

.image-material {
    font-family: 'Miama Nueva', serif; 
    font-size: 16px; 
    font-weight: 400; 
    font-style: italic;
    color: #F5F5F5; 
    text-align: right; 
    margin-top: 5px; 
    opacity: 0.7; 
    display: block; 
}

#view-more-btn {
    width: 152px;
    height: 40px;
    background-color: #1B1818;
    color: #F5F5F5;
    border: 1px solid #C74B4B;
    border-radius: 25px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    margin: 20px auto; 
    display: block; 
    position: absolute;
    top: 1814px;
    left: 1248px;
}

#view-more-btn .icon-left,
#view-more-btn .icon-right {
    width: 18px;
    height: 18px;
    margin: 0 5px;
}

/* Стиль для затемнения */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999; 
    display: none; 
}

/* Стили для модального окна */
.modal {
    display: none; 
    position: absolute; 
    left: 193px; 
    width: 1055px; 
    height: 849px; 
    background-color: #1E2629; 
    border: 1px solid #C74B4B; 
    z-index: 1000;  
    box-sizing: border-box; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0; 
}

.modal-content {
    position: relative;
    width: 100%; 
    height: 100%; 
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; 
}

.rectangle {
    width: 100%;  
    height: 100%;  
    border: 1px solid #C74B4B;  
    border-radius: 0px 150px 0px 95px;  
    padding: 0;  
    box-sizing: border-box;
    background-color: #1E2629;  
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
}

.modal-content img {
    max-width: 690px;  
    max-height: 439px; 
    width: auto; 
    height: auto;  
    object-fit: contain; 
    border: 1px solid #C74B4B;  
    box-sizing: border-box;  
    display: block;  
    position: absolute;
    top: 0;
    left: 0; 
}

.modal-content .text-container {
    position: absolute; 
    top: 105px;  
    left: 710px;  
    width: 325px; 
    height: auto;  
    margin-top: 0; 
    color: #FFF9F9;
}

.modal-content .text-container h3 {
    font-family: 'Miama Nueva', serif;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
    text-align: left;  
    width: 325px; 
    word-wrap: break-word;
}

.modal-content .text-container p {
    font-family: 'Hauora', sans-serif;
    font-size: 16px;
    line-height: 19.2px;
    color: #FFFFFF; 
    opacity: 0.7; 
    margin: 0;
    width: 325px;  
    letter-spacing: -0.03em;
}

.rectangle-material {
    position: absolute;
    top: 438px;  
    left: 689px;  
    width: 364px;  
    height: 79px;  
    border: 1px solid #C74B4B;
    border-radius: 40px 0px 40px 0px;  
    background-color: transparent; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.modal-material {
    position: absolute;
    top: 31px;  
    left: 21px;  
    font-family: 'Miama Nueva', serif; 
    font-weight: 400; 
    font-size: 30px; 
    font-style: italic; 
    line-height: 30px; 
    letter-spacing: -0.02em;
    color: #C74B4B; 
    text-align: left; 
    margin: 0; 
}

.line-element {
    position: absolute;
    top: 438px; 
    left: 0; 
    width: 1055px;
    height: 0;
    border-top: 1px solid #C74B4B; 
}

.vertical-line-element {
    position: absolute;
    top: 438px;  
    left: 689px;  
    width: 1px; 
    height: 411px;  
    background-color: #C74B4B;  
    border-left: 1px solid #C74B4B; 
}

.new-rectangle {
    position: absolute;
    top: 518px;  
    left: 0px;  
    width: 1053px;  
    height: 329px;  
    border: 1px solid #C74B4B; 
    background-color: transparent; 
}

.new-rectangle .second-description {
    font-family: 'Hauora', sans-serif; 
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    position: absolute;
    top: 68px;  
    left: 20px;  
    width: 644px; 
    height: 180px; 
    text-align: left;
    overflow: hidden; 
    white-space: normal; 
    padding: 0;
    margin: 0; 
}

.order-now-btn {
    position: absolute;
    top: 144px; 
    left: 710px;  
    width: 325px;  
    height: 50px;  
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    border: 1px solid #C74B4B; 
    border-radius: 25px; 
    background-color: transparent; 
    color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer; 
    padding: 0 47px;  
    gap: 10px; 
}

.order-now-btn:hover {
    background-color: #C74B4B;
}

.order-now-btn::before, 
.order-now-btn::after {
    content: '';
    width: 18px; 
    height: 18px; 
    background-image: url('/images/Star3.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.order-now-btn.mobile-btn{
    display: none;
}

.footer-container {
    margin-top: auto; 
    width: 100%;
    background-color: transparent;
    padding: 20px 0; 
    margin-bottom: 20px;
    bottom: 0;
    padding-top: 90px;
    position: relative;
}

.footer-line {
    width: 100%; 
    height: 1px;
    background-color: #C74B4B;
    margin: 0 auto 0;
}

.social-icons {
    display: flex;
    position: relative;
    right: 40px;
    top: 18px;
    justify-content: flex-end;
    gap: 10px;
}

.social-icons a img {
    width: 21px;
    height: 21px;
}

@media (max-width: 768px) {
    /* Контейнер страницы */
    .page-container {
       width: 100%;
   }

   .header-container {
       padding-top: 40px;
       width: auto;
       /* z-index: 1000; */
   }

   .logo {
       margin-right: 0;
       top: 0;
       text-align: left;
       width: 80px;
       height: 28px;
   }

   .header-line{
       background-color: transparent;
       color: transparent;
   }

   /* Адаптация навигации */
   .navigation{
       display: none;
   }

   .blur-background::before {
       content: '';
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       backdrop-filter: blur(7.5px); 
       background-color: rgba(0, 0, 0, 0.2); 
       z-index: 999; 
       transition: backdrop-filter 0.3s ease;
   }

   .navigation-panel {
       display: none; 
       position: fixed;
       top: 0;
       right: 0;
       width: 55%;
       height: 100%;
       background-color: #1B1818;
       z-index: 1001;
       padding-top: 60px; 
       overflow-y: auto;
   }

   .backdrop {
       content: '';
       display: none;
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: rgba(0, 0, 0, 0.5); 
       z-index: 1000;
   }

   .navigation-panel.open ~ .backdrop {
       display: block;
   }

   .navigation-panel.open {
       display: block;
       z-index: 1002;
   }

   .mobile-navigation {
       display: flex;
       flex-direction: column;
       gap: 20px;
   }

   .mobile-navigation .language-switcher {
       text-align: left;
       position: absolute;
       top: 36px;
       left: 48%;
   }

   .mobile-navigation .lang-btn {
       background-color: transparent;
       border: none;
       color: #FFF9F9;
       font-size: 14px;
       cursor: pointer;
       display: inline-flex;
       align-items: center;
       padding: 0;
   }

   .mobile-navigation .lang-btn .lang-icon {
       left: 18px;
       width: 7px;
       height: 7px;
       fill: #FFF9F9;
   }

   .mobile-navigation .lang-dropdown {
    display: none;
    position: absolute;
    width: 26px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 1.2);
    z-index: 1002;
    right: 7px;
    height: 20px;
    top: 22px;
    background-color: #C74B4B;
    font-size: 14px;
}

.mobile-navigation .lang-dropdown a {
    color: #FFF9F9;
    text-decoration: none;
    display: block;
    text-align: center;
    left: -1px;
    position: relative;
    margin: 0;
    top: 0px;
}

   .mobile-navigation .lang-dropdown.show {
       display: block;
   }

   .mobile-navigation .menu-icon {
       position: absolute;
       top: 36px;
       right: 0;
       cursor: pointer;
       width: 30px;
       height: 20px;
   }

   .mobile-navigation .menu-icon img {
       width: 30px;
       height: 20px;
       top: 0;
   }

   .mobile-navigation ul {
       list-style: none;
       padding: 0;
       margin: 100px 0 0 100px; 
   }

   .mobile-navigation ul li {
       margin-bottom: 40px;
       margin-right: 10px;
   }

   .mobile-navigation ul li a {
       width: 123px;
       height: 20px;
       text-transform: uppercase;
       color: #FFF9F9;
       font-size: 20px;  
       font-weight: 400; 
       text-decoration: none; 
       display: block;
       text-align: right;  
   }

     .mobile-navigation .social-icons {
        display: flex;
        justify-content: flex-end;
        align-items: center; 
        position: absolute;
        top: 859px; 
        right: 10px;
        gap: 10px;
        z-index: 1002;
    }

    .mobile-navigation .social-icons img {
        width: 20px;
        height: 20px;
    }

   .language-switcher {
       font-family: 'Hauora', sans-serif;
       width: 30px;
       height: 16px;
       top: 35px; 
       left: 70%; 
       font-size: 17px; 
   }

   .desktop-lang-switcher {
       display: none;
   }

   .mobile-lang-switcher {
       display: block;
   }

   .lang-icon {
       display: inline-block;
   }

   .menu-icon {
       display: block;
       cursor: pointer;
   }

   /* Адаптация вектора*/

   .vector-container {
       width: calc(100% - 10px); 
       height: 630px; 
       top: 30px; 
       text-align: center; 
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       overflow: hidden;
   }

   .desktop-only {
       display: none;
   }

   .mobile-only {
       display: block;
       width: calc(100% - 10px); 
       height: 630px; 
       border-radius: 210px 210px 0 0;
       object-fit: cover;
       position: absolute;
       top: 0;
       opacity: 0.5;
       object-position: -25px 0; 
   }

   .title-container {
       top: 233px; 
       left: 14px; 
       width: 92px; 
       height: 100px; 
       text-align: center; 
       padding: 0; 
       box-sizing: border-box; 
   }

   .title-p {
       font-size: 100px;
       line-height: 100px;
       top: 0;
       letter-spacing: -0.03em;
       z-index: 1;
   }

   .title {
       font-family: 'Hauora', sans-serif;
       font-size: 55px; 
       font-weight: 400; 
       line-height: 55px; 
       top: 11px; 
       left: 83px; 
       width: 249px; 
       height: 55px; 
       letter-spacing: -0.03em; 
       color: #FFF9F9; 
   }

   .subtitle-container {
       top: 375px; 
       left: 180px; 
       width: 170px;
       height: 64px; 
       text-align: left;
       box-sizing: border-box; 
   }

   .subtitle {
       font-family: 'Hauora', sans-serif;
       color: #FFF9F9;
   }

   /* Адаптация галереи*/

   .gallery-container {
       margin-top: 90px;
       width: 100%;
       height: auto !important; 
   }

   .gallery {
       display: block;
   }

   .gallery-item {
       position: relative; 
       top: auto; 
       left: 0; 
       box-sizing: border-box; 
       clear: both; 
   }

   .gallery-item img {
       width: 100%;
       height: auto; 
       object-fit: cover; 
       border-radius: 0;
   }

   .gallery-item.item-1,
   .gallery-item.item-3,
   .gallery-item.item-7,
   .gallery-item.item-13,
   .gallery-item.item-16,
   .gallery-item.item-21 {
       width: 100%; 
       height: auto;
       padding: 25px 0; 
   }

   .gallery-item.item-1 img,
   .gallery-item.item-3 img,
   .gallery-item.item-7 img,
   .gallery-item.item-13 img,
   .gallery-item.item-16 img,
   .gallery-item.item-21 img {
       width: calc(100% - 10px);  
       height: auto; 
       object-fit: cover; 
   }

   .gallery-item.item-2,
   .gallery-item.item-4,
   .gallery-item.item-5, 
   .gallery-item.item-6,
   .gallery-item.item-8,
   .gallery-item.item-9,
   .gallery-item.item-10,
   .gallery-item.item-11,
   .gallery-item.item-12,
   .gallery-item.item-14,
   .gallery-item.item-15,
   .gallery-item.item-17,
   .gallery-item.item-18,
   .gallery-item.item-19,
   .gallery-item.item-20,
   .gallery-item.item-22,
   .gallery-item.item-23 {
       width: calc(50% - 10px);
       height: auto;
       padding-bottom: 50px;
   }

   .gallery-item.item-2 img,
   .gallery-item.item-4 img,
   .gallery-item.item-5 img, 
   .gallery-item.item-6 img,
   .gallery-item.item-8 img,
   .gallery-item.item-9 img,
   .gallery-item.item-10 img,
   .gallery-item.item-11 img,
   .gallery-item.item-12 img,
   .gallery-item.item-14 img,
   .gallery-item.item-15 img,
   .gallery-item.item-17 img,
   .gallery-item.item-18 img,
   .gallery-item.item-19 img,
   .gallery-item.item-20 img,
   .gallery-item.item-22 img,
   .gallery-item.item-23 img{
       width: 100%; 
       height: auto; 
   }

   .image-title{ 
       margin-top: 5px; 
       width: 175px;
       height: 16px;
       margin-left: auto; 
       margin-right: 0; 
   }

   .image-material{
       display: none;
   } 

   #view-more-btn {
       position: relative; 
       left: calc(50% - 94px); 
       top: auto;
       margin-bottom: 80px !important;
       margin-top: 29px !important;
       margin: 0;
       width: 189px;
   }

   /* Адаптация модального окна*/
   .modal-overlay {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: #1B1818; 
       z-index: 999;
       display: none;
   }

   .modal-overlay.active .page-container {
       display: none;
   }

   .modal {
       top: 78px !important;
       left: 0;
       width: 100% !important;
       height: 100% !important;
       background-color: #1B1818; 
       border: none;
       padding: 20px;
       overflow: auto;
   }

   .modal-content {
       overflow-y: auto; 
       flex-direction: column; 
   }

   .rectangle{
       border: none; 
       border-radius: 0 0 0 0; 
       background-color: #1B1818;
   }

   .modal-content img {
       max-width: 100%; 
       max-height: 50%; 
       object-fit: cover; 
   }

   .modal-content .text-container {
       width: 100%; 
       padding-top: 30px;
       text-align: left;
       left: 0;
       height: auto;
       top: auto;
       box-sizing: border-box;
   }

   .modal-content .text-container h3 {
    width: 100%;
   }

   .rectangle-material {
       top: auto;  
       left: 0;  
       width: 100%;  
       height: 18px;  
       border: none;
       border-radius: 0 0 0 0;  
       justify-content: left; 
   }

   .modal-material {
       position: relative;
       top: 0;  
       left: 0;  
   }

   .line-element {
       top: auto;
       width: 100%;
   }

   .vertical-line-element {
       display: none;
   }

   .new-rectangle {
       top: auto;
       width: 100%;
       height: auto;
       border: none;
   }

   .new-rectangle .second-description {
       position: relative;
       top: 0;
       left: 0;
       width: 100%;
       height: auto;
   }

   .order-now-btn.desktop-btn {
       display: none;
   }

   .order-now-btn.mobile-btn {
       position: relative;
       top: auto;
       left: 0;
       width: 100%; 
       height: 50px;
       margin-top: 20px;
       font-size: 18px;
       line-height: 18px;
       text-align: center;
       border: 1px solid #C74B4B; 
       border-radius: 25px; 
       background-color: transparent; 
       color: #F5F5F5;
       display: flex;
       align-items: center;
       justify-content: space-between;
       cursor: pointer; 
       padding: 0 47px;
       gap: 56px; 
       margin-left: 7px;
       margin-right: 8px;
   }
   
   .order-now-btn.mobile-btn:hover {
       background-color: #C74B4B;
   }
   
   .order-now-btn.mobile-btn::before, 
   .order-now-btn.mobile-btn::after {
       content: '';
       width: 18px; 
       height: 18px; 
       background-image: url('/images/Star3.svg'); 
       background-size: contain;
       background-repeat: no-repeat;
       display: inline-block;
   }

   .modal-material, .second-description {
       text-align: center; /* Выравниваем текст по центру */
   }

   /* Адаптация футера*/

   .footer-container {
       padding: 15px 0px; 
       padding-top: 0px; 
       text-align: center; 
   }

   .footer-line {
       margin: 0 auto 10px auto; 
   }

   .social-icons {
       justify-content: right; 
       gap: 15px; 
       margin-top: 10px; 
       right: 10px;
   }

   .social-icons a img {
       width: 25px; 
       height: 25px;
   }
}