<!DOCTYPE html>
<html lang="en" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>About me - Mubarik Elmurzaeva</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" href="css/about.css">
    <link rel="icon" type="image/x-icon" href="path/to/your/favicon.ico">
    <link rel="canonical" href="http://mubarikelmurzaeva.com">
    <meta property="og:site_name" content="Mubarik Elmurzaeva">
    <meta property="og:title" content="About me - Mubarik Elmurzaeva">
    <meta property="og:url" content="http://mubarikelmurzaeva.com/about">
    <meta property="og:type" content="website">
    <meta itemprop="name" content="About me - Mubarik Elmurzaeva">
    <meta itemprop="url" content="http://mubarikelmurzaeva.com/about">
    <meta name="twitter:title" content="About - Mubarik Elmurzaeva">
    <meta name="twitter:url" content="http://mubarikelmurzaeva.com/about">
    <meta name="twitter:card" content="summary">
    <meta name="description" content="Learn more about Mubarik Elmurzaeva, her biography, awards, and exhibitions.">
</head>
<body>
    <header>
        <div class="container">
            <div class="branding">
                <h1><a href="index">MUBARIK ELMURZAEVA</a></h1>
            </div>
            <nav>
                <div class="hamburger" id="hamburger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <ul id="nav-links">
                    <li><a href="index">Home</a></li>
                    <li><a href="work">Work</a></li>
                    <li><a href="about" class="active">About me</a></li>
                    <li><a href="contact">Contact</a></li>
                    <div class="hamburger close-menu" id="close-menu">
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="biography">
            <h2>Biography</h2>
            <div class="content">
                <div class="text">
                    <p>Text about biography...a really long text about he biography blabla bla bla blalabla</p>
                </div>
                <div class="photo">
                    <img src="images/mubi.jpg" alt="Photo of Mubarik">
                </div>
            </div>
        </section>

        <section class="awards">
            <h2>Awards</h2>
            <p>Details about awards... a really long text about he biography blabla bla bla blalabla</p>
        </section>

        <section class="exhibitions">
            <h2>Exhibitions</h2>
            <p>Details about exhibitions... a really long text about he biography blabla bla bla blalabla</p>
        </section>
    </main>

    <div class="modal" id="modal">
        <span class="close" id="closeModal">&times;</span>
        <img class="modal-content" id="modalImage">
        <div id="caption"></div>
    </div>

    <footer>
        <div class="footer-container">
            <div class="share-container">
                <p id="share-text" class="share-button">Share</p>
                <div class="share-menu">
                    <div class="share-arrow"></div> 
                    <ul>
                        <li><a href="#" onclick="shareToFacebook()"><img src="images/icon-facebook.png" alt="Facebook">Share to Facebook</a></li>
                        <li><a href="#" onclick="shareToInstagram()"><img src="images/icon-instagram.png" alt="Instagram">Share to Instagram</a></li>
                        <li><a href="#" onclick="shareToTwitter()"><img src="images/icon-twitterx.png" alt="Twitter">Share to Twitter</a></li>
                        <li><a href="#" onclick="shareToPinterest()"><img src="images/icon-pinterest.png" alt="Pinterest">Share to Pinterest</a></li>
                    </ul>
                </div>
                <div class="social-links">
                    <ul>
                        <li><a href="https://www.facebook.com" target="_blank"><img src="images/icon-facebook.png" alt="Facebook"></a></li> <!-- Добавить ссылку на фейсбук -->
                        <li><a href="https://www.instagram.com" target="_blank"><img src="images/icon-instagram.png" alt="Instagram"></a></li> <!-- Добавить ссылку на инсту-->
                        <li><a href="https://www.whatsapp.com" target="_blank"><img src="images/icon-whatsapp.png" alt="WhatsApp"></a></li> <!-- Добавить ссылку на ватс -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/script.js"></script>

</body>
</html>