<!DOCTYPE html>
<html lang="en" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Work - Mubarik Elmurzaeva</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" href="/css/en/work.css">
    <link rel="icon" type="image/x-icon" href="/path/to/your/favicon.ico"> 
    <link rel="canonical" href="http://mubarikelmurzaeva.com">

    <meta property="og:site_name" content="Mubarik Elmurzaeva">
    <meta property="og:title" content="Portfolio - Mubarik Elmurzaeva">
    <meta property="og:url" content="http://mubarikelmurzaeva.com/work">
    <meta property="og:type" content="website">
    <meta itemprop="name" content="Portfolio - Mubarik Elmurzaeva">
    <meta itemprop="url" content="http://mubarikelmurzaeva.com/work">
    <meta name="twitter:title" content="Portfolio - Mubarik Elmurzaeva">
    <meta name="twitter:url" content="http://mubarikelmurzaeva.com/work">
    <meta name="twitter:card" content="summary">
    <meta name="description" content="Explore the artwork of Mubarik Elmurzaeva. View detailed descriptions, sizes, and prices.">

</head>

<body>
    <div class="page-container">
        <special-header></special-header>

        <div class="vector-container">
            <svg class="vector-svg desktop-only" viewBox="0 0 1400 572" xmlns="http://www.w3.org/2000/svg">

                <defs>
                    <mask id="mask1">
                        <path d="M196,258 V572 H20 V258 A 1 1, 0, 0 1, 196 258" fill="white"/>
                        <path d="M392,218 V572 H216 V218 A 1 1, 0, 0 1, 392 218" fill="white" />
                        <path d="M984,287 V572 H412 V287 A 1 1, 0, 0 1, 984 287" fill="white" />
                        <path d="M1180,218 V572 H1004 V218 A 1 1, 0, 0 1, 1180 218" fill="white" />
                        <path d="M1376,258 V572 H1200 V258 A 1 1, 0, 0 1, 1376 258" fill="white" />
                    </mask>
                </defs>

                <image href="/images/tree.png" width="1400" height="572" mask="url(#mask1)" />
            </svg>

            <img src="/images/image10.jpg" alt="Portfolio Image" class="mobile-only">

            <div class="title-container">
                <span class="title-p">P</span>
                <h1 class="title">ortfolio</h1>
            </div>

            <div class="subtitle-container">
                <p class="subtitle">Find out more about my distinguished works</p>
            </div>
        </div>

        <div class="gallery-container">
            <ul id="gallery" class="gallery">
                <li class="gallery-item item-1">
                    <img src="/images/image1.jpg" alt="Image 1" data-description="Описание картины 1" data-second-description="Второе описание картины 1" data-title="«Rose»" data-material="Paper/Pastel" >
                    <h3 class="image-title">«Rose»</h3>
                    <p class="image-material">Paper/Pastel</p> 
                </li>
                <li class="gallery-item item-2">
                    <img src="/images/image2.jpg" alt="Image 2" data-description="Описание картины 2" data-second-description="Второе описание картины 2" data-title="«Dry Flower»" data-material="Canvas/Oil, Paste">    
                    <h3 class="image-title">«Dry Flower»</h3>
                    <p class="image-material">Canvas/Oil, Paste</p> 
                </li>
                <li class="gallery-item item-3">
                    <img src="/images/image3.jpg" alt="Image 3" data-description="I aimed to capture the essence of contemplation in this young man wearing a hat. The hat adds an intriguing element, enhancing his thoughtful expression. I highlighted the textures and shadows to bring depth to his figure. The subtly blended background directs focus to his emotions, inviting viewers to explore the narrative behind his gaze." data-second-description="This piece is more than just a painting; it's an emotional journey, inviting viewers to explore the thoughtful contemplation captured within. Perfect for art enthusiasts and collectors alike, this masterpiece will add a touch of sophistication and intrigue to any space." data-title="«Doctor Ahmad»" data-material="Paper/Watercolor">
                    <h3 class="image-title">«Doctor Ahmad»</h3>
                    <p class="image-material">Paper/Watercolor</p> 
                </li>
                <li class="gallery-item item-4">
                    <img src="/images/image4.jpg" alt="Image 4" data-description="Описание картины 4" data-second-description="Второе описание картины 4" data-title="«Dry Flowers»" data-material="Canvas/Oil">
                    <h3 class="image-title">«Dry Flowers»</h3>
                    <p class="image-material">Canvas/Oil</p> 
                </li>
                <li class="gallery-item item-5">
                    <img src="/images/image5.jpg" alt="Image 5" data-description="Описание картины 5" data-second-description="Второе описание картины 5" data-title="«Painting Title 5»" data-material="Watercolor5">
                    <h3 class="image-title">«Painting Title 5»</h3>
                    <p class="image-material">Watercolor 5</p> 
                </li>
                <li class="gallery-item item-6">
                    <img src="/images/image6.jpg" alt="Image 6" data-description="Описание картины 6" data-second-description="Второе описание картины 6" data-title="«Rose»" data-material="Paper/Oil">
                    <h3 class="image-title">«Rose»</h3>
                    <p class="image-material">Paper/Oil</p> 
                </li>
            </ul>
            <button id="view-more-btn" class="load-more-btn">
                <img src="/images/Star3.svg" alt="Star" class="icon-left">
                View more
                <img src="/images/Star3.svg" alt="Star" class="icon-right">
            </button>
        </div>
        <special-footer></special-footer>
    </div>

    <div class="backdrop"></div>

    <script src="/js/headerFooter.js" defer></script> 
    <script src="/js/language-switcher.js" defer></script> 
    <script src="/js/work.js" defer></script>
</body>
</html>
