<!DOCTYPE html>
<html lang="ru" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>About - Mubarik Elmurzaeva</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/ru/about.css">
    <link rel="icon" type="image/x-icon" href="/path/to/your/favicon.ico"> <!-- Ваш собственный фавикон -->
    <link rel="canonical" href="http://mubarikelmurzaeva.com">
    <meta property="og:site_name" content="Mubarik Elmurzaeva">
    <meta property="og:title" content="About - Elmurzaeva">
    <meta property="og:url" content="http://mubarikelmurzaeva.com">
    <meta property="og:type" content="website">
    <meta itemprop="name" content="About - Elmurzaeva">
    <meta itemprop="url" content="http://mubarikelmurzaeva.com">
    <meta name="twitter:title" content="About - Elmurzaeva">
    <meta name="twitter:url" content="http://mubarikelmurzaeva.com">
    <meta name="twitter:card" content="summary">
    <meta name="description" content="Откройте для себя искусство Мубарик Эльмурзаевой. Исследуйте галерею, узнайте больше об авторе и свяжитесь с ней.">
</head>

<body>
    <div class="page-container">
        <special-header-ru></special-header-ru>

        <!-- Блок с изображением и заголовком -->
        <div class="about-header">
            <img src="/images/image11.jpg" alt="About Mubarik" class="about-image">
            <div class="title-container">
                <h1 class="title">
                    <span class="title-a">П</span>
                    <span class="title-bout">уть</span>
                    <span class="title-m">М</span>
                    <span class="title-ubarik">убарик</span>
                </h1>
            </div>
        </div>

        <!-- Текстовый блок -->
        <div class="about-content">
            <p class="intro-text">С юных лет меня пленил мир искусства. После встречи народного художника Сайд-Эми Эльмирзаева, он, став моим ментором,</p>
            <p class="specialization-text">                              
                обучил меня живописи 
                <span class="highlighted-text">маслом, акварели и графике.</span>
            </p>
            <p class="mobile-intro-text">С юных лет меня пленил мир искусства. Моим ментором стал народный художник Сайд-Эми Эльмирзаев, у которого я обучалась живописи </p>
            <p class="mobile-highlighted-text">маслом, акварели и графике.</p>
        </div>

        <!-- Контейнер для выставок -->
        <div class="exhibitions-container">
            <!-- Секция с заголовком и текстом -->
            <div class="exhibitions-header">
                <h2 class="exhibitions-title">Выставки</h2>
                <p class="exhibitions-description">Мои работы были представлены на различных выставках ЧР и за её пределами.</p>
            </div>
            
            <!-- Первая выставка -->
            <div class="exhibition-item1">
                <div class="exhibition-date-container1">
                    <div class="exhibition-line1"></div>
                    <p class="exhibition-date1">2014</p>
                </div>
                <img src="/images/image29.jpg" alt="Exhibition 1" class="exhibition-image1">
                <p class="exhibition-name1">Международный фестиваль искусств "Традиции и современность"</p>
                <p class="exhibition-city1">Москва</p>
            </div>

            <!-- Вторая выставка -->
            <div class="exhibition-item2">
                <div class="exhibition-date-container2">
                    <div class="exhibition-line2"></div>
                    <p class="exhibition-date2">2014</p>
                </div>
                <img src="/images/image31.jpg" alt="Exhibition 2" class="exhibition-image2">
                <p class="exhibition-name2">Выставка, посвященная годовщине арт-студии "Хазна"</p>
                <p class="exhibition-city2">Грозный, Волгодонск</p>
            </div>

            <!-- Третья выставка -->
            <div class="exhibition-item3">
                <div class="exhibition-date-container3">
                    <div class="exhibition-line3"></div>
                    <p class="exhibition-date3">2014</p>
                </div>
                <img src="/images/image19.jpg" alt="Exhibition 3" class="exhibition-image3">
                <p class="exhibition-name3">Зональная выставка "Юг России"</p>
                <p class="exhibition-city3">Грозный</p>
            </div>

             <!-- четверта выставка -->
            <!-- <div class="exhibition-item4">
                <div class="exhibition-date-container4">
                    <div class="exhibition-line4"></div>
                    <p class="exhibition-date4">2015</p>
                </div>
                <img src="/images/image17.jpg" alt="Exhibition 4" class="exhibition-image4">
                <p class="exhibition-name4">Выставка арт-студии "Хазна" - "Гимн Земли"</p>
                <p class="exhibition-city4">Волгодонск, Ростов</p>
            </div> -->

             <!-- пятая выставка -->
            <!-- <div class="exhibition-item5">
                <div class="exhibition-date-container5">
                    <div class="exhibition-line5"></div>
                    <p class="exhibition-date5">2019</p>
                </div>
                <img src="/images/image17.jpg" alt="Exhibition 5" class="exhibition-image5">
                <p class="exhibition-name5">Выставка "Весенняя палитра" приуроченная к 8 марта</p>
                <p class="exhibition-city5">Грозный</p>
            </div> -->
        </div>

            <!-- Контейнер с наградами -->
        <div class="awards-section">
            <h2 class="awards-title">Награды</h2>
            <div class="awards-container">
                <div class="award-item1">
                    <p class="award-text">Член Союза художников Чеченской Республики</p>
                </div>
                <div class="award-item2">
                    <p class="award-text2">Благодарственная грамота от министра культуры за вклад в развитие культуры ЧР</p>
                </div>
                <div class="award-item3">
                    <p class="award-text">1-е место в конкурсе «Образ Матери» (2019)</p>
                </div>
                <div class="award-item4">
                    <p class="award-text">Лауреат конкурса «Весна в красках» (2021)</p>
                </div>
            </div>
        </div>

        <div class="philosophy-container">
            <h2 class="philosophy-title">Моя философия</h2>
            <div class="philosophy-content">
                <img src="/images/mubarik2.jpg" alt="Mubarik" class="philosophy-image">
                <div class="philosophy-text">
                    <p>Искусство всегда было для меня естественным проявлением жизни. Мне не нужно вдохновение, чтобы рисовать, мне нужно рисование для вдохновения.</p>
                    <p>Каждый момент, каждая эмоция и каждый взгляд на мир — это уже акт творчества. Я верю, что в простоте повседневных мгновений можно найти глубокую красоту и смысл, увидеть уникальное в обыденном. Сама жизнь и есть искусство, и каждый из нас создаёт её по-своему, добавляя свою неповторимую палитру красок.</p>
                </div>
            </div>
        </div>

        <special-footer></special-footer>
    </div>    

    <div class="backdrop"></div>

    <script src="/js/headerFooter.js" defer></script> 
    <script src="/js/language-switcher.js" defer></script> 

</body>
</html>