<!DOCTYPE html>
<html lang="ru" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Contact - Mubarik Elmurzaeva</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/ru/contact.css">
    <link rel="stylesheet" href="/css/ru/header.css">
    <link rel="icon" type="image/x-icon" href="/path/to/your/favicon.ico"> <!-- Ваш собственный фавикон -->
    <link rel="canonical" href="http://mubarikelmurzaeva.com">
    <meta property="og:site_name" content="Mubarik Elmurzaeva">
    <meta property="og:title" content="Contact - Elmurzaeva">
    <meta property="og:url" content="http://mubarikelmurzaeva.com">
    <meta property="og:type" content="website">
    <meta itemprop="name" content="Contact - Elmurzaeva">
    <meta itemprop="url" content="http://mubarikelmurzaeva.com">
    <meta name="twitter:title" content="Contact - Elmurzaeva">
    <meta name="twitter:url" content="http://mubarikelmurzaeva.com">
    <meta name="twitter:card" content="summary">
    <meta name="description" content="Свяжитесь с Мубарик Эльмурзаевой. Свяжитесь для запросов и покупки произведений искусства.">
</head>

<body>
    <div class="page-container">
        <special-header-ru></special-header-ru>
        
        <div class="contact-container">
            <img src="/images/image23.jpg" alt="Background Image" class="background-image">
            <div class="contact-header">
                <div class="contact-title">
                    <span class="contact-c">К</span>
                    <span class="contact-ont">онт</span>
                    <div class="contact-dash"></div>
                    <span class="contact-act">акты</span>
                </div>
                <p class="contact-text">Напишите мне, если хотите узнать больше или приобрести мои работы</p>
            </div>

            <div class="contact-content">
                <form class="contact-form" id="contactForm">
                    <div class="form-row">
                        <input type="text" name="name" id="name" placeholder="ИМЯ*" required>
                        <input type="email" name="email" id="email" placeholder="EMAIL*" required>
                    </div>
                    <textarea name="message" id="message" placeholder="СООБЩЕНИЕ" required></textarea>
                    <div id="formMessage"></div> 
                    <button type="submit" class="send-btn">Отправить</button>
                </form>
            </div>
        </div>

        <special-footer></special-footer>
    </div>

    <div class="backdrop"></div>

    <script src="/js/headerFooter.js" defer></script> 
    <script src="/js/language-switcher.js" defer></script> 
    <script src="/js/contact.js" defer></script>
</body>
</html>