<!DOCTYPE html>
<html lang="ru" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Mubarik Elmurzaeva - Портфолио</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Meie+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/ru/styles.css">
    <link rel="icon" type="image/x-icon" href="/path/to/your/favicon.ico"> <!-- Ваш собственный фавикон -->
    <link rel="canonical" href="http://mubarikelmurzaeva.com">
    <meta property="og:site_name" content="Mubarik Elmurzaeva">
    <meta property="og:title" content="Mubarik Elmurzaeva - Портфолио">
    <meta property="og:url" content="http://mubarikelmurzaeva.com">
    <meta property="og:type" content="website">
    <meta itemprop="name" content="Mubarik Elmurzaeva">
    <meta itemprop="url" content="http://mubarikelmurzaeva.com">
    <meta name="twitter:title" content="Mubarik Elmurzaeva - Портфолио">
    <meta name="twitter:url" content="http://mubarikelmurzaeva.com">
    <meta name="twitter:card" content="summary">
    <meta name="description" content="Откройте для себя искусство Мубарик Эльмурзаевой. Исследуйте галерею, узнайте об авторе и свяжитесь с ней.">
</head>

<body>
    <div class="page-container">
        <special-header-ru></special-header-ru>

        <div class="cover-photo-container">
            <img src="/images/image18.png" alt="Фон картины" class="cover-photo">

            <div class="bringing-visions">Bringing visions</div>
            <div class="mubarik">Мубарик</div>
            <div class="elmurzaeva">Эльмурзаева</div>
            <div class="to-life">to life</div>
            <div class="go-to-portfolio">(ПЕРЕЙТИ В ПОРТФОЛИО)</div>
            <div class="go-to-portfolio-line"></div> 
            
        </div>
    </div>    
    
    <script src="/js/headerFooter.js" defer></script> 
    <script src="/js/language-switcher.js" defer></script> 
     
</body>
</html>