<!DOCTYPE html>
<html lang="ru" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Work - Mubarik Elmurzaeva</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" href="/css/ru/work.css">
    <link rel="icon" type="image/x-icon" href="/path/to/your/favicon.ico"> 
    <link rel="canonical" href="http://mubarikelmurzaeva.com">

    <meta property="og:site_name" content="Mubarik Elmurzaeva">
    <meta property="og:title" content="Портфолио - Mubarik Elmurzaeva">
    <meta property="og:url" content="http://mubarikelmurzaeva.com/work">
    <meta property="og:type" content="website">
    <meta itemprop="name" content="Портфолио - Mubarik Elmurzaeva">
    <meta itemprop="url" content="http://mubarikelmurzaeva.com/work">
    <meta name="twitter:title" content="Портфолио - Mubarik Elmurzaeva">
    <meta name="twitter:url" content="http://mubarikelmurzaeva.com/work">
    <meta name="twitter:card" content="summary">
    <meta name="description" content="Изучите произведения искусства Мубарик Элмурзаевой. Просматривайте подробные описания, размеры и цены.">

</head>

<body>
    <div class="page-container">
        <special-header-ru></special-header-ru>

        <div class="vector-container">
            <svg class="vector-svg desktop-only" viewBox="0 0 1400 572" xmlns="http://www.w3.org/2000/svg">

                <defs>
                    <mask id="mask1">
                        <path d="M196,258 V572 H20 V258 A 1 1, 0, 0 1, 196 258" fill="white"/>
                        <path d="M392,218 V572 H216 V218 A 1 1, 0, 0 1, 392 218" fill="white" />
                        <path d="M984,287 V572 H412 V287 A 1 1, 0, 0 1, 984 287" fill="white" />
                        <path d="M1180,218 V572 H1004 V218 A 1 1, 0, 0 1, 1180 218" fill="white" />
                        <path d="M1376,258 V572 H1200 V258 A 1 1, 0, 0 1, 1376 258" fill="white" />
                    </mask>
                </defs>

                <image href="/images/tree.png" width="1400" height="572" mask="url(#mask1)" />
            </svg>

            <img src="/images/image10.jpg" alt="Portfolio Image" class="mobile-only">

            <div class="title-container">
                <span class="title-p">П</span>
                <h1 class="title">ортфолио</h1>
            </div>

            <div class="subtitle-container">
                <p class="subtitle">Узнайте больше о моих самых выдающихся работах</p>
            </div>
        </div>

        <div class="gallery-container">
            <ul id="gallery" class="gallery">
                <li class="gallery-item item-1">
                    <img src="/images/image1.jpg" alt="Image 1" data-description="“Роза” — это моя попытка запечатлеть нежную красоту и скрытую силу этого цветка. Используя пастель на бумаге, я стремилась передать мягкость лепестков на фоне насыщенного, глубокого фона. Я хотела, чтобы зрители почувствовали яркость цветов и текстур, увидели каждую кривую и линию, от нежных изгибов до резких граней." data-second-description="Эта картина приглашает вас остановиться, взглянуть ближе и найти что-то большее в простой форме розы." data-title="«Розовая роза»" data-material="Бумага/Пастель">
                    <h3 class="image-title">«Розовая роза»</h3>
                    <p class="image-material">Бумага/Пастель</p> 
                </li>
                <li class="gallery-item item-2">
                    <img src="/images/image2.jpg" alt="Image 2" data-description="“Угасающая грация” — это выражение красоты и хрупкости природы в момент её увядания. Используя масло и структурную пасту, я хотела показать текстурность и объем засохшего цветка, передавая его тонкую и сложную форму." data-second-description="Картина приглашает зрителя осознать, что красота существует даже в тех элементах природы, которые прошли через свой пик." data-title="«Угасающая грация»" data-material="Холст/Масло, паста">    
                    <h3 class="image-title">«Угасающая грация»</h3>
                    <p class="image-material">Холст/Масло, Паста</p> 
                </li>
                <li class="gallery-item item-3">
                    <img src="/images/image3.jpg" alt="Image 3" data-description="Эта работа изображает доктора, известного своим вниманием и заботой о детях. Работа выполнена в технике «Сухая акварель» на бумаге, что позволяет создать четкие, выразительные линии и мягкие градиенты цвета. " data-second-description="Теплые тона фона создают ощущение доброты и надежности, что идеально дополняет образ человека, посвятившего свою жизнь работе с детьми." data-title="«Доктор Ахмад»" data-material="Бумага/Акварель">
                    <h3 class="image-title">«Доктор Ахмад»</h3>
                    <p class="image-material">Бумага/Акварель</p> 
                </li>
                <li class="gallery-item item-4">
                    <img src="/images/image4.jpg" alt="Image 4" data-description="Изображены яркие сухоцветы, которые благодаря густым мазкам мастихина кажутся живыми и осязаемыми. Сочетание глубоких оттенков фиолетового, синего, жёлтого и других цветов на тёмном фоне усиливает контраст и выделяет уникальные формы цветов." data-second-description="Эта работа отражает красоту и стойкость сухоцветов, символизируя их способность сохранять очарование и вялую элегантность даже после того, как их время прошло." data-title="«Последний шёпот»" data-material="Холст/Масло">
                    <h3 class="image-title">«Последний шёпот»</h3>
                    <p class="image-material">Холст/Масло</p> 
                </li>
                <li class="gallery-item item-5">
                    <img src="/images/image5.jpg" alt="Image 5" data-description="«Эфемерное присутствие» — это картина, созданная с использованием масла и текстурной пасты, погружающая зрителя в темы исчезновения и мимолетности бытия. Фигура в золотых и черных полосах, кажется, растворяется в тенях, а тонкая линия лица на черном фоне постепенно исчезает, как воспоминание, ускользающее из памяти." data-second-description="Эта работа отражает преходящую природу воспоминаний и исчезающий образ уходящего присутствия, застывший в наших мыслях." data-title="«Эфемерное присутствие»" data-material="Холст/Масло, паста">
                    <h3 class="image-title">«Эфемерное присутствие»</h3>
                    <p class="image-material">Холст/Масло, Паста</p> 
                </li>
                <li class="gallery-item item-6">
                    <img src="/images/image6.jpg" alt="Image 6" data-description="«Пробуждение» — работа, выполненная маслом на бумаге, передаёт образ розы, покрытой утренней росой. Насыщенные розовые и зелёные оттенки подчёркивают свежесть и влажность лепестков, создавая ощущение, что цветок только что проснулся от ночного покоя. Игра света и тени на каплях воды добавляет картине глубину и реализм." data-second-description="Картина предлагает зрителю остановиться на мгновение и насладиться хрупкой красотой природы, увиденной в момент её пробуждения." data-title="«Пробуждение»" data-material="Бумага/Масло">
                    <h3 class="image-title">«Пробуждение»</h3>
                    <p class="image-material">Бумага/Масло</p> 
                </li>
            </ul>
            <button id="view-more-btn" class="load-more-btn">
                <img src="/images/Star3.svg" alt="Star" class="icon-left">
                Eщё
                <img src="/images/Star3.svg" alt="Star" class="icon-right">
            </button>
        </div>
        <special-footer></special-footer>
    </div>

    <div class="backdrop"></div>

    <script src="/js/headerFooter.js" defer></script> 
    <script src="/js/language-switcher.js" defer></script> 
    <script src="/js/work.js" defer></script>
</body>
</html>
