@font-face {
    font-family: 'Miama Nueva';
    src: url('/fonts/miama/miama.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Hauora';
    src: url('/fonts/hauora_sans/fonts/otf/Hauora-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}


/* Стили для заголовка */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    padding: 30px 10px 20px 10px;
    background-color: #1B1818;
    position: relative;
    box-sizing: border-box; 
    z-index: 4;
}

.logo {
    margin: 0;
    position: relative;
    left: 0; 
}

.logo a {
    color: #FFF9F9;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 19.36px;
    position: relative;
}

.navigation {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: absolute;  
    left: 730px; 
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.navigation ul li a {
    color: #FFF9F9; 
    font-size: 1rem; 
    font-style: normal;
    font-weight: 400; 
    line-height: 1.5; 
    text-decoration: none; 
    position: relative;
}    


.language-switcher {
    position: absolute;
    left: calc(100% - 77px);
    color: #FFF9F9; 
    display: flex; 
    gap: 0.5rem; 
    align-items: center; 
    font-size: 1rem; 
}

.language-switcher a {
    text-decoration: none; 
    color: #FFF9F9; 
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0.5rem; 
}

.language-switcher a:hover {
    text-decoration: underline; 
}

.desktop-lang-switcher {
    display: inline-block;
}

.mobile-lang-switcher {
    display: none;
}

.lang-btn {
    background-color: transparent;
    border: none;
    color: #FFF9F9;
    font-size: 0.875rem;
    cursor: pointer;
}

.lang-btn:focus {
    outline: none;
}

.lang-dropdown {
    display: none;
    position: absolute;
    box-shadow:  0 0.5rem 1rem rgba(0, 0, 0, 1.2);
    z-index: 1002;
    top: 2rem;
    background-color: #C74B4B;
}

.lang-dropdown a {
    color: #FFF9F9;
    text-decoration: none;
    display: block;
    text-align: center;
    position: relative;
    margin: 0;
    font-size: 0.875rem;
}

.lang-dropdown.show {
    display: block;
}

.desktop-lang-switcher .lang-icon {
    display: none;
}

.lang-icon {
    width: 0.4rem; 
    height: 0.4rem; 
    fill: #F5F5F5;
    margin-left: 4px; 
    position: absolute;
    top: 6.4px; 
}

.menu-icon img {
    width: 1.875rem;  
    height: 1.25rem; 
    cursor: pointer;
    position: absolute;
    top: 0.25rem;    
    right: 0.625rem;
}

.menu-icon,
.navigation-panel {
    display: none;
}

.header-line {
    width: 1440px;
    height: 1px;
    background: #FFF9F9;
    display: block;
    z-index: 10;
    position: absolute;
}


@media (max-width: 576px) and (orientation: portrait)  {

    .header-container {
        width: 100%; 
        padding: 3.125rem 0.625rem 1.25rem 0.625rem; 
        flex-direction: row; 
        align-items: flex-start; 
    }

    .logo {
        text-align: left;
        width: auto; 
        max-width: 80px; 
        height: auto;
    }

    .logo a {
        font-size: 0.875rem; 
        line-height: 1.5; 
    }

    .header-line{
        display: none;
    }

    /* Адаптация навигации */
    .navigation{
        display: none;
    }

    .blur-background::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(7.5px); 
        background-color: rgba(0, 0, 0, 0.2); 
        z-index: 5; 
    }

    .navigation-panel {
        display: none; 
        position: fixed;
        top: 0;
        right: 0;
        width: 55vw; 
        max-width: 320px;
        height: 100vh; 
        background-color: #1B1818;
        z-index: 10;
        padding-top: 3.75rem;
        overflow-y: auto;
        transition: transform 0.3s ease;
        transform: translateX(100%); 
    }

    .backdrop {
        content: '';
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5); 
        z-index: 8;
        transition: opacity 0.3s ease; 
        opacity: 0; 
    }

    .navigation-panel.open ~ .backdrop {
        opacity: 1;
    }

    .navigation-panel.open {
        display: block;
        transform: translateX(0); 
        z-index: 10;
        padding: 0 0 40px 0;
        height: 100vh;
    }

    .mobile-navigation {
        display: flex;
        flex-direction: column;
        gap: 1.25rem; 
        height: 100vh;
        padding-top: 3.125rem; 
        box-sizing: border-box; 
        overflow-y: auto;
        align-items: center; 
        position: relative; 
    }

    .mobile-navigation .language-switcher {
        text-align: center;
        position: relative;
        padding-top: 0.7rem;
        transform: translateX(-100%); 
    }

    .mobile-navigation .lang-btn {
        background-color: transparent;
        border: none;
        color: #FFF9F9;
        font-size: 0.875rem;
        cursor: pointer;
    }

    .mobile-navigation .lang-icon {
        padding-top: 0.655rem;
        margin-left: 0.25rem; 
    }

    .mobile-navigation .lang-dropdown {
        display: none;
        position: relative;
        z-index: 1002;
        left: 0;
        background-color: #C74B4B;
        width: fit-content; 
        top: 1rem;
    }

    .mobile-navigation .lang-dropdown a {
        color: #FFF9F9;
        text-decoration: none;
        display: block;
        text-align: center;
        position: relative;
        margin: 0;
        font-size: 0.875rem;
    }

    .mobile-navigation .lang-dropdown.show {
        display: block;
    }

    .mobile-navigation .menu-icon {
        position: absolute;
        right: 0;
        cursor: pointer;
        padding:  0.5675rem 0.5rem 0 0
    }

    .mobile-navigation .menu-icon img {
        right: 0;
        position: relative;
        top: 0.13rem;
    }

    .mobile-navigation ul {
        list-style: none;
        padding-left: 0; 
        position: relative; 
        right: 0;
        top: 0; 
        width: 95%; 
        max-width: 100%; 
        margin: 2rem 0; 
    }

    .mobile-navigation ul li {
        margin-bottom: 1.5rem; 
        width: 100%;
        position: relative;
        text-align: right; 
    }

    .mobile-navigation ul li a {
        width: 100%;
        height: auto;
        text-transform: uppercase;
        color: #FFF9F9;
        font-size: 1.25rem;  
        font-weight: 400; 
        text-decoration: none; 
        display: block;
        text-align: right; 
        padding: 0.75rem 0; 
    }

    .mobile-navigation .social-icons {
        display: flex;
        justify-content: flex-end;
        align-items: center; 
        position: relative; 
        margin-top: auto; 
        gap: 0.625rem;
        width: 95%;
        padding-bottom: 4.375rem;
    }

    .mobile-navigation .social-icons img {
        width: 1.25rem;
        height: 1.25rem;
        cursor: pointer; 
    }

    .language-switcher {
        font-family: 'Hauora', sans-serif;
        position: relative;
        max-width: 200px;
        height: auto; 
        left: 2.5rem; 
        font-size: 1.0625rem; 
        color: #FFF9F9; 
        display: flex;
        justify-content: center; 
        margin: 0 auto; 
    }

    .desktop-lang-switcher {
        display: none;
    }

    .mobile-lang-switcher {
        display: flex;
        justify-content: center; 
        align-items: center; 
        gap: 0.5rem; 
        position: absolute;
        left: calc(100% - 0.5rem);
        top: 0.75rem;
    }

    .lang-icon {
        display: inline-block;
        margin-left: 0.25rem; 
        position: absolute; 
        top: 0.4rem;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .menu-icon img {
        right: 0;
        position: relative;
        top: 0.7rem;
    }
}