@font-face {
    font-family: 'Miama Nueva';
    src: url('/fonts/miama/miama.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Hauora';
    src: url('/fonts/hauora_sans/fonts/otf/Hauora-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* Основные стили для body */
body {
    font-family: 'Hauora', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1B1818; 
    color: #FFF9F9;
}

/* Стили для контейнера всей страницы */
.page-container {
    width: 1440px;
    height: 800px;
    margin: 0 auto;
    background-color: #1B1818;
    position: relative; 
}

/* Стили для заголовка */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 37px;
    padding: 20px 20px;
    background-color: #1B1818;
    position: relative;
    box-sizing: border-box; 
}

.logo {
    position: relative; 
    top: 10px; 
    margin-right: 690px;
}

.logo a {
    color: #FFF9F9;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 19.36px;
    position: relative;
}

.navigation {
    position: absolute;
    top: 20px; 
    left: 730px; 
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.navigation ul li a {
    color: #FFF9F9; 
    font-size: 16px; 
    font-style: normal;
    font-weight: 400; 
    line-height: 100%; 
    text-decoration: none; 
}    

.language-switcher {
    position: absolute;
    top: 20px; 
    right: 20px; 
    font-size: 16px; 
    color: #FFF9F9; 
}

.language-switcher a {
    text-decoration: none; 
    color: #FFF9F9; 
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.36px;
    margin: 0 5px; 
}

.language-switcher a:hover {
    text-decoration: underline; 
}

.desktop-lang-switcher {
    display: inline-block;
}

.mobile-lang-switcher {
    display: none;
}

.lang-btn {
    background-color: transparent;
    border: none;
    color: #FFF9F9;
    font-size: 14px;
    cursor: pointer;
}

.lang-btn:focus {
    outline: none;
}

.lang-dropdown {
    display: none;
    position: absolute;
    background-color: #1B1818;
    min-width: 50px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 20px;
    right: 0;
}

.lang-dropdown a {
    color: #FFF9F9;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.lang-dropdown.show {
    display: block;
}

.desktop-lang-switcher .lang-icon {
    display: none;
}

.lang-icon {
    width: 7px;
    height: 7px;
    fill: #F5F5F5;
    margin-left: 5px; 
    position: absolute;
    top: 9px; 
    left: 23px;
}

.menu-icon img {
    width: 30px;  
    height: 20px; 
    cursor: pointer;
    position: absolute;
    top: 36px;    
    right: 10px;
}

.menu-icon,
.navigation-panel {
    display: none;
}

.header-line {
    width: calc(100% - 40px);
    height: 1px;
    background: #FFF9F9;
    margin: 21px 20px 0 20px; 
    display: block;
}

/* Стили для cover-photo-container */
.cover-photo-container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    background-color: #1B1818;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-photo {
    position: absolute;
    top: 10px; 
    left: 226px;
    width: 872px;
    height: 853px;
    z-index: 1;
}

.mubarik {
    position: absolute;
    top: 312px; 
    left: 40px;
    width: 420px;
    height: 120px;
    font-size: 120px;
    font-weight: 400;
    line-height: 120px;
    letter-spacing: -0.03em;
    z-index: 1;
}

.elmurzaeva {
    position: absolute;
    top: 312px; 
    left: 813px;
    width: 599px;
    height: 120px;
    font-size: 120px;
    font-weight: 400;
    line-height: 120px;
    letter-spacing: -0.03em;
    z-index: 0;
}

.bringing-visions, .to-life {
    color: #C74B4B;
    font-family: "Miama Nueva";
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    line-height: 100%; 
    opacity: 0.8;
}

.bringing-visions {
    position: absolute;
    top: 262px; 
    left: 40px;
    width: 245px;
    height: 30px;
}    

.to-life {
    position: absolute;
    top: 452px; 
    left: 1272px;
    width: 92px;
    height: 30px;
    line-height: 58px;
}

.bringing-visions-to-life {
    display: none;
}

.go-to-portfolio {
    position: absolute;
    top: 653px;
    left: 1075px;
    width: 183px;
    height: 20px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    line-height: 100%;
    color: #FFF9F9;
    font-style: normal;
    text-transform: uppercase; 
}

.go-to-portfolio a {
    text-decoration: none; 
    color: #FFF9F9; 
    display: inline-block; 
}

.go-to-portfolio-line {
    position: absolute;
    top: 678px;
    left: 1075px;
    width: 183px;
    height: 1px;
    background: #FFF9F9;
}

/* Общие стили для текста */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    /* Контейнер страницы */
    .page-container {
        width: 100%;
        height: auto;
    }
    
    .logo a {
        font-size: 16px;
    }

    .header-container {
        padding-top: 40px;
        width: auto;
    }

    .logo {
        margin-right: 0;
        top: 0;
        text-align: left;
        width: 80px;
        height: 28px;
    }

    .header-line{
        background-color: transparent;
        color: transparent;
    }

    /* Адаптация навигации */
    .navigation{
        display: none;
    }

    .blur-background::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(7.5px); 
        background-color: rgba(0, 0, 0, 0.2); 
        z-index: 999; 
        transition: backdrop-filter 0.3s ease;
    }

    .navigation-panel {
        display: none; 
        position: fixed;
        top: 0;
        right: 0;
        width: 55%;
        height: 100%;
        background-color: #1B1818;
        z-index: 1001;
        padding-top: 60px; 
        overflow-y: auto;
    }

    .backdrop {
        content: '';
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
        z-index: 1000;
    }

    .navigation-panel.open ~ .backdrop {
        display: block;
    }

    .navigation-panel.open {
        display: block;
        z-index: 1002;
    }

    .mobile-navigation {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .mobile-navigation .language-switcher {
        text-align: left;
        position: absolute;
        top: 36px;
        left: 48%;
    }

    .mobile-navigation .lang-btn {
        background-color: transparent;
        border: none;
        color: #FFF9F9;
        font-size: 14px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        padding: 0;
    }

    .mobile-navigation .lang-btn .lang-icon {
        left: 18px;
        width: 7px;
        height: 7px;
        fill: #FFF9F9;
    }

    .mobile-navigation .lang-dropdown {
        display: none;
        position: absolute;
        background-color: #1B1818;
        min-width: 50px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1002;
        right: 0;
    }

    .mobile-navigation .lang-dropdown a {
        color: #FFF9F9;
        padding: 8px 16px;
        text-decoration: none;
        display: block;
    }

    .mobile-navigation .lang-dropdown.show {
        display: block;
    }

    .mobile-navigation .menu-icon {
        position: absolute;
        top: 36px;
        right: 0;
        cursor: pointer;
        width: 30px;
        height: 20px;
    }

    .mobile-navigation .menu-icon img {
        width: 30px;
        height: 20px;
        top: 0;
        padding: 0;
    }

    .mobile-navigation ul {
        list-style: none;
        padding: 0;
        margin: 100px 0 0 120px; 
    }

    .mobile-navigation ul li {
        margin-bottom: 40px;
        margin-right: 10px;
    }

    .mobile-navigation ul li a {
        width: 105px;
        height: 20px;
        text-transform: uppercase;
        color: #FFF9F9;
        font-size: 20px;  
        font-weight: 400; 
        text-decoration: none; 
        display: block;
        text-align: right;  
    }

    .mobile-navigation .social-icons {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        width: 160px;
        bottom: 100px;
        gap: 10px;
        right: 10px;
        width: 160px;
        z-index: 1002;
    }

    .mobile-navigation .social-icons img {
        width: 20px;
        height: 20px;
    }

    .language-switcher {
        font-family: 'Hauora', sans-serif;
        position: absolute;
        width: 30px;
        height: 16px;
        top: 35px; 
        left: 70%; 
        font-size: 17px; 
        color: #FFF9F9; 
    }

    .desktop-lang-switcher {
        display: none;
    }

    .mobile-lang-switcher {
        display: block;
    }

    .lang-icon {
        display: inline-block;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    /* Стили для контейнера с фото */
    .cover-photo {
        position: absolute;
        top: 0;  
        left: 0;
        width: 100%; 
        object-fit: cover; 
        transform: scale(1);
        transform-origin: center;
        z-index: 1;
    }

    .mubarik {
        position: absolute;
        top: 318px; 
        left: calc(50% - 91px);
        width: 196px; 
        height: 56px; 
        font-size: 56px;
        font-weight: 400; 
        line-height: 56px;
        letter-spacing: -0.03em;
        color: #FFF9F9; 
        font-family: 'Hauora', sans-serif;
    }

    .elmurzaeva {
        position: absolute;
        top: 384px; 
        left: calc(50% - 140px); 
        font-size: 56px;
        font-weight: 400;
        line-height: 56px;
        width: 280px;
        letter-spacing: -0.03em; 
        color: #FFF9F9;
        font-family: 'Hauora', sans-serif;
        text-align: center;
        z-index: 2;
    }

    .bringing-visions,
    .to-life {
        display: none;
    }

    .bringing-visions-to-life {
        top: 35px;
        display: block;
        font-size: 30px;
        line-height: 100%;
        text-align: center;
        color: #C74B4B;
        font-family: "Miama Nueva";
        font-style: italic;
        font-weight: 400;
        position: absolute;
        letter-spacing: -0.6px;
        width: 100%;
        opacity: 0.8;
        margin-right: 20px;
        margin-left: 20px;
    }

    .go-to-portfolio {
        position: absolute;
        top: 620px;
        left: 50%;
        width: 183px;
        height: 20px;
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
        line-height: 20px;
        color: #FFF9F9;
        font-style: normal;
        text-transform: uppercase;
        text-align: center; 
        z-index: 2;
    }

    .go-to-portfolio-line {
        position: absolute;
        top: 645px; 
        left: 50%; 
        width: 183px; 
        height: 1px; 
        background: #FFF9F9;
        z-index: 1; 
    }
}