/* body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body.no-scroll {
    overflow: hidden !important;
}

header {
    background-color: #fff;
    padding: 10px 0;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 1100;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
}

.close-menu {
    display: none;
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 1100;
}

#nav-links {
    display: flex;
    list-style: none;
}

#nav-links li {
    margin: 0 15px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header .branding h1 {
    margin: 0;
    font-size: 2em;
    color: #000;
}

header .branding h1 a {
    color: #000;
    text-decoration: none;
}

header .branding h1 a:hover {
    color: #555;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1em;
    transition: color 0.3s;
}

header nav ul li a.active {
    color: #555;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #555;
}

main {
    padding-top: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
    padding: 0 20px;
}

.filters label {
    margin-right: 10px;
}

.filters select {
    padding: 5px;
    font-size: 0.9em;
    max-width: 200px;
}

.hidden {
    display: none;
}

#no-results-message {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}

.artwork {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.artwork-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
    padding: 20px;
    border: 0;
    max-width: 800px;
}

.artwork-item img {
    max-width: 50%;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.artwork-item img:hover {
    transform: scale(1.05);
}

.artwork-details {
    max-width: 50%;
    text-align: justify;
}

.artwork-details h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.artwork-details p {
    margin: 10px 0;
}

.artwork-details p:last-child {
    margin: 10px 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.9);
}

.modal-content-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 50%;
    margin: auto;
    position: relative;
}

.modal-content {
    display: block;
    width: 40%;
    max-height: 70vh;
    object-fit: contain;
    margin: auto;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #000000;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #8a8a8a;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.share-container {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    position: absolute;
    right: 0;
    margin-right: auto;
    padding-bottom: 10px;
}

.share-button {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
}

.share-menu {
    display: none;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-84%);
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 200px;
    padding: 10px 0;
    text-align: left;
}

.share-arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f0f0f0;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.share-arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f0f0f0;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.share-menu.active {
    display: block;
}

.share-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.share-menu ul li {
    margin: 0;
    padding: 0 12px;
    display: flex;
    align-items: center;
}

.share-menu ul li a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 0.9em;
    width: 100%;
    padding: 8px 10px;
    transition: background-color 0.3s, color 0.3s;
}

.share-menu ul li a:hover {
    background-color: #ccc;
    color: #000;
}

.share-menu ul li img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.share-menu ul li:not(:last-child) {
    border-bottom: 1px solid #ccc;
}


.social-links {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    margin-right: 20px;
}

.social-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.social-links ul li {
    margin: 0 5px;
}

.social-links ul li a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
}

.social-links ul li a:hover {
    color :#555;
}

.social-links ul li img {
    width: 24px;
    height: 24px;
}    

@media (min-width: 768px) and (max-width: 1024px) {
    .filters {
        justify-content: flex-start;
        padding-left: 60px;
    }
}

@media (max-width: 768px) {

    body.no-scroll {
        overflow: hidden !important;
    }

    .hamburger {
        display: flex;
    }

    #nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100%;
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        overflow-y: auto; 
    }

    #nav-links.active {
        display: flex;
    }

    .close-menu {
        display: flex;
    }

    #nav-links li {
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }

    .filters {
        flex-direction: column;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }

    .filters label {
        margin-right: 10px;
    }

    .filters select {
        margin-top: 5px;
    }

    .filters label, 
    .filters select {
        width: auto;
    }

    .filters select {
        font-size: 0.8em;
        max-width: 90%;
    }

    .artwork-item {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .artwork-details {
        max-width: 100%;
        text-align: center;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header nav {
        position: relative;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin: 10px 0;
    }

    .modal-content {
        display: block;
        width: 100%;
        max-height: 70vh;
        object-fit: contain;
        margin-top: 75px; 
    }
} */

@font-face {
    font-family: 'Miama Nueva';
    src: url('/fonts/miama/miama.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Hauora';
    src: url('/fonts/hauora_sans/fonts/otf/Hauora-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* Основные стили для body */
body {
    font-family: 'Hauora', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1B1818; 
    color: #FFF9F9;
}

/* Стили для контейнера всей страницы */
.page-container {
    width: 1440px;
    height: 800px;
    margin: 0 auto;
    background-color: #1B1818;
    position: relative; 
}

/* Стили для заголовка */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1350;
    height: 37px;
    padding: 20px 20px;
    background-color: #1B1818;
    position: relative;
    top: 20;
    left: 20;
    box-sizing: border-box; /* Включаем padding в размеры блока */
}

.logo {
    position: relative; 
    top: 10px; 
    margin-right: 690px;
}

.logo a {
    color: #FFF9F9;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 19.36px;
    position: relative;
}

.navigation {
    position: absolute;
    top: 20px; 
    left: 730px; 
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.navigation ul li a {
    color: #FFF9F9; 
    font-size: 16px; 
    font-style: normal;
    font-weight: 400; 
    line-height: 100%; 
    text-decoration: none; 
    position: relative;
}   

.navigation ul li a.active::after {
    content: '';
    position: absolute;
    left: calc(100% + 5px);
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FFF9F9;
}

.language-switcher {
    position: absolute;
    top: 20px; 
    right: 20px; 
    font-size: 16px; 
    color: #FFF9F9; 
}

.language-switcher a {
    text-decoration: none; 
    color: #FFF9F9; 
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.36px;
    margin: 0 5px; 
}

.language-switcher a:hover {
    text-decoration: underline; 
}

.header-line {
    width: calc(100% - 40px);
    height: 1px;
    background: #FFF9F9;
    margin: 21px 20px 0 20px;
    display: block;
}

.vector-container {
    width: 1400px;
    height: 572px;
    margin: 0 auto; 
    padding: 0;
    box-sizing: border-box;
    position: relative;
    top: 40px;
}

.vector-svg {
    width: 100%;
    height: 100%;
}

.vector-image {
    width: 100%;
    height: 100%;
    background: url('/images/tree.png') no-repeat;
    background-size: cover;
    opacity: 1;
}

.masked-element {
    position: absolute;
    top: 234px;
    left: 20px;
    width: 176px;
    height: 380px;
    background: url('/images/tree.jpg') no-repeat center center;
    background-size: cover;
    clip-path: url(#arc-clip);
}

/* Стили для заголовка */
.title-container {
    position: absolute;
    top: 301px;
    left: 326px;
    width: 750px;
    height: 200px;
}

.title {
    font-size: 180px;
    font-weight: 300;
    line-height: 180px;
    position: absolute;
    top: 0px;
    left: 164px;
    margin: 0;
}

.title-p {
    font-size: 200px;
    font-family: 'Miama Nueva', serif;
    font-weight: 400;
    font-style: italic;
    color: #FFF9F9;
    line-height: 200px;
    position: absolute;
    top: 40px;
    left: 0;
}

/* Стили для подзаголовка */
.subtitle-container {
    position: absolute;
    top: 506px; 
    left: 883px; /* Позиционирование слева */
    width: 374px; 
    height: 16px; 
}

.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin: 0; 
    text-align: left;
    text-transform: uppercase;
}

/* Стили для галереи */
.gallery-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative; 
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    position: relative; 
}

.gallery-item {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: absolute; 
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Стили для первых шести элементов */
.item-1 {
    width: 670px;
    height: 460px;
    top: 152px;
    left: 558px;
    border-radius: 0px 200px 0px 200px;
}

.item-2 {
    width: 325px;
    height: 400px;
    top: 292px;
    left: 40px;
}

.item-3 {
    width: 498px;
    height: 323px;
    top: 782px;
    left: 385px;
}

.item-4 {
    width: 325px;
    height: 400px;
    top: 944px;
    left: 1075px;
    border-radius: 0px 0px 0px 150px;
}

.item-5 {
    width: 325px;
    height: 400px;
    top: 1195px;
    left: 40px;
    border-radius: 0px 150px 0px 0px;
}

.item-6 {
    width: 325px;
    height: 400px;
    top: 1395px;
    left: 558px;
}

/* Стили для следующих элементов */
.item-7 {
    width: 670px;
    height: 460px;
    top: 1935px;
    left: 558px;
    border-radius: 0px 200px 0px 200px;
}

.item-8 {
    width: 325px;
    height: 400px;
    top: 2095px;
    left: 40px;
}

.item-9 {
    width: 498px;
    height: 323px;
    top: 2585px;
    left: 385px;
}

.item-10 {
    width: 325px;
    height: 400px;
    top: 2747px;
    left: 1075px;
    border-radius: 0px 0px 0px 150px;
}

.item-11 {
    width: 325px;
    height: 400px;
    top: 2998px;
    left: 40px;
    border-radius: 0px 150px 0px 0px;
}

.item-12 {
    width: 325px;
    height: 400px;
    top: 3198px;
    left: 558px;
}

.item-13 {
    width: 670px;
    height: 460px;
    top: 3738px;
    left: 558px;
    border-radius: 0px 200px 0px 200px;
}

.item-14 {
    width: 325px;
    height: 400px;
    top: 3898px;
    left: 40px;
}

#view-more-btn {
    width: 152px;
    height: 40px;
    background-color: #1B1818;
    color: #F5F5F5;
    border: 1px solid #C74B4B;
    border-radius: 25px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    margin: 20px auto; 
    display: block; 
    position: absolute;
    top: 1814px;
    left: 1248px;
}

#view-more-btn .icon-left,
#view-more-btn .icon-right {
    width: 18px;
    height: 18px;
    margin: 0 5px;
}