@font-face {
    font-family: 'Miama Nueva';
    src: url('/fonts/miama/miama.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Hauora';
    src: url('/fonts/hauora_sans/fonts/otf/Hauora-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Hauora', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1B1818; 
    color: #FFF9F9;
}

.page-container {
    width: 1440px;
    height: auto;
    margin: 0 auto;
    background-color: #1B1818;
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1350;
    height: 37px;
    padding: 20px 20px;
    background-color: #1B1818;
    position: relative;
    top: 20;
    left: 20;
    box-sizing: border-box; 
}

.logo {
    position: relative; 
    top: 10px; 
    margin-right: 690px;
}

.logo a {
    color: #FFF9F9;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 19.36px;
    position: relative;
}

.navigation {
    position: absolute;
    top: 20px; 
    left: 730px; 
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.navigation ul li a {
    color: #FFF9F9; 
    font-size: 16px; 
    font-style: normal;
    font-weight: 400; 
    line-height: 100%; 
    text-decoration: none; 
    position: relative;
}   

.navigation ul li a.active::after {
    content: '';
    position: absolute;
    left: calc(100% + 5px);
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FFF9F9;
}

.language-switcher {
    position: absolute;
    top: 20px; 
    right: 20px; 
    font-size: 16px; 
    color: #FFF9F9; 
}

.language-switcher a {
    text-decoration: none; 
    color: #FFF9F9; 
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.36px;
    margin: 0 5px; 
}

.language-switcher a:hover {
    text-decoration: underline; 
}

.header-line {
    width: calc(100% - 40px);
    height: 1px;
    background: #FFF9F9;
    margin: 21px 20px 0 20px;
    display: block;
}

.vector-container {
    width: 1400px;
    height: 572px;
    margin: 0 auto; 
    padding: 0;
    box-sizing: border-box;
    position: relative;
    top: 40px;
}

.vector-svg {
    width: 100%;
    height: 100%;
}

.vector-image {
    width: 100%;
    height: 100%;
    background: url('/images/tree.png') no-repeat;
    background-size: cover;
    opacity: 1;
}

.masked-element {
    position: absolute;
    top: 234px;
    left: 20px;
    width: 176px;
    height: 380px;
    background: url('/images/tree.jpg') no-repeat center center;
    background-size: cover;
    clip-path: url(#arc-clip);
}

/* Стили для заголовка */
.title-container {
    position: absolute;
    top: 301px;
    left: 306px;
    width: 748px;
    height: 200px;
}

.title {
    font-size: 180px;
    font-weight: 300;
    line-height: 180px;
    position: absolute;
    top: 0px;
    left: 164px;
    margin: 0;
}

.title-p {
    font-size: 200px;
    font-family: 'Miama Nueva', serif;
    font-weight: 400;
    font-style: italic;
    color: #C74B4B;
    line-height: 200px;
    position: absolute;
    top: 40px;
    left: 0;
}

.subtitle-container {
    position: absolute;
    top: 506px; 
    left: 863px; 
    width: 374px; 
    height: 16px; 
}

.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin: 0; 
    text-align: left;
    text-transform: uppercase;
}

.gallery-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative; 
    height: 1962px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
} 

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.gallery-item {
    width: 200px;
    height: 200px;
    position: absolute; 
    list-style-type: none;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

/* Стили для первых шести элементов */
.item-1 {
    width: 670px;
    height: 460px;
    top: 152px;
    left: 558px;
    border-radius: 0px 200px 0px 200px;
}

.item-2 {
    width: 325px;
    height: 400px;
    top: 292px;
    left: 40px;
}

.item-3 {
    width: 498px;
    height: 323px;
    top: 782px;
    left: 385px;
}

.item-4 {
    width: 325px;
    height: 400px;
    top: 944px;
    left: 1075px;
    border-radius: 0px 0px 0px 150px;
}

.item-5 {
    width: 325px;
    height: 400px;
    top: 1195px;
    left: 40px;
    border-radius: 0px 150px 0px 0px;
}

.item-6 {
    width: 325px;
    height: 400px;
    top: 1395px;
    left: 558px;
}

/* Стили для следующих элементов */
.item-7 {
    width: 670px;
    height: 460px;
    top: 1935px;
    left: 558px;
    border-radius: 0px 200px 0px 200px;
}

.item-8 {
    width: 325px;
    height: 400px;
    top: 2095px;
    left: 40px;
}

.item-9 {
    width: 498px;
    height: 323px;
    top: 2585px;
    left: 385px;
}

.item-10 {
    width: 325px;
    height: 400px;
    top: 2747px;
    left: 1075px;
    border-radius: 0px 0px 0px 150px;
}

.item-11 {
    width: 325px;
    height: 400px;
    top: 2998px;
    left: 40px;
    border-radius: 0px 150px 0px 0px;
}

.item-12 {
    width: 325px;
    height: 400px;
    top: 3198px;
    left: 558px;
}

.item-13 {
    width: 670px;
    height: 460px;
    top: 3738px;
    left: 558px;
    border-radius: 0px 200px 0px 200px;
}

.item-14 {
    width: 325px;
    height: 400px;
    top: 3898px;
    left: 40px;
}
.item-15 {
    width: 498px;
    height: 323px;
    top: 4388px;
    left: 385px;
}

.item-16 {
    width: 325px;
    height: 400px;
    top: 4550px;
    left: 1075px;
    border-radius: 0px 0px 0px 150px;
}

.item-17 {
    width: 325px;
    height: 400px;
    top: 4801px;
    left: 40px;
    border-radius: 0px 150px 0px 0px;
}

.item-18 {
    width: 325px;
    height: 400px;
    top: 5001px;
    left: 558px;
}

.item-19 {
    width: 670px;
    height: 460px;
    top: 5541px;
    left: 558px;
    border-radius: 0px 200px 0px 200px;
}

.item-20 {
    width: 325px;
    height: 400px;
    top: 5701px;
    left: 40px;
}

.item-21 {
    width: 498px;
    height: 323px;
    top: 6191px;
    left: 385px;
}

.item-22 {
    width: 325px;
    height: 400px;
    top: 6353px;
    left: 1075px;
    border-radius: 0px 0px 0px 150px;
}

.item-23 {
    width: 325px;
    height: 400px;
    top: 6604px;
    left: 40px;
    border-radius: 0px 150px 0px 0px;
}

.item-24 {
    width: 325px;
    height: 400px;
    top: 6804px;
    left: 558px;
}

.image-title {
    margin-top: 10px;
    font-size: 16px; 
    font-weight: 400;
    color: #F5F5F5;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    display: block; 
    background-color: transparent; 
}

.image-material {
    font-family: 'Miama Nueva', serif; 
    font-size: 16px; 
    font-weight: 400; 
    font-style: italic;
    color: #F5F5F5; 
    text-align: right; 
    margin-top: 5px; 
    opacity: 0.7; 
    display: block; 
}

#view-more-btn {
    width: 152px;
    height: 40px;
    background-color: #1B1818;
    color: #F5F5F5;
    border: 1px solid #C74B4B;
    border-radius: 25px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    margin: 20px auto; 
    display: block; 
    position: absolute;
    top: 1814px;
    left: 1248px;
}

#view-more-btn .icon-left,
#view-more-btn .icon-right {
    width: 18px;
    height: 18px;
    margin: 0 5px;
}

/* Стиль для затемнения */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999; 
    display: none; 
}

/* Стили для модального окна */
.modal {
    display: none; 
    position: absolute; 
    left: 193px; 
    width: 1055px; 
    height: 849px; 
    background-color: #1E2629; 
    border: 1px solid #C74B4B; 
    z-index: 1000;  
    box-sizing: border-box; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0; 
}

.modal-content {
    position: relative;
    width: 100%; 
    height: 100%; 
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; 
}

.rectangle {
    width: 100%;  
    height: 100%;  
    border: 1px solid #C74B4B;  
    border-radius: 0px 150px 0px 95px;  
    padding: 0;  
    box-sizing: border-box;
    background-color: #1E2629;  
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
}

.modal-content img {
    max-width: 690px;  
    max-height: 439px; 
    width: auto; 
    height: auto;  
    object-fit: contain; 
    border: 1px solid #C74B4B;  
    box-sizing: border-box;  
    display: block;  
    position: absolute;
    top: 0;
    left: 0; 
}

.modal-content .text-container {
    position: absolute; 
    top: 105px;  
    left: 710px;  
    width: 325px; 
    height: auto;  
    margin-top: 0; 
    color: #FFF9F9;
}

.modal-content .text-container h3 {
    font-family: 'Miama Nueva', serif;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
    text-align: left;  
    width: 325px; 
    word-wrap: break-word;
}

.modal-content .text-container p {
    font-family: 'Hauora', sans-serif;
    font-size: 16px;
    line-height: 19.2px;
    color: #FFFFFF; 
    opacity: 0.7; 
    margin: 0;
    width: 325px; 
    letter-spacing: -0.03em;
}

.rectangle-material {
    position: absolute;
    top: 438px;  
    left: 689px;  
    width: 364px;  
    height: 79px;  
    border: 1px solid #C74B4B;
    border-radius: 40px 0px 40px 0px;  
    background-color: transparent; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.modal-material {
    position: absolute;
    top: 31px;  
    left: 21px;  
    font-family: 'Miama Nueva', serif; 
    font-weight: 400; 
    font-size: 30px; 
    font-style: italic; 
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #C74B4B; 
    text-align: left; 
    margin: 0; 
}

.line-element {
    position: absolute;
    top: 438px; 
    left: 0; 
    width: 1055px;
    height: 0;
    border-top: 1px solid #C74B4B; 
}

.vertical-line-element {
    position: absolute;
    top: 438px;  
    left: 689px;  
    width: 1px; 
    height: 411px;  
    background-color: #C74B4B;  
    border-left: 1px solid #C74B4B; 
}

.new-rectangle {
    position: absolute;
    top: 518px;  
    left: 0px;  
    width: 1053px;  
    height: 329px;  
    border: 1px solid #C74B4B; 
    background-color: transparent; 
}

.new-rectangle .second-description {
    font-family: 'Hauora', sans-serif; 
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    position: absolute;
    top: 68px;  
    left: 20px;  
    width: 644px; 
    height: 180px; 
    text-align: left;
    overflow: hidden; 
    white-space: normal; 
    padding: 0;
    margin: 0; 
}

.order-now-btn {
    position: absolute;
    top: 144px; 
    left: 710px;  
    width: 325px;  
    height: 50px;  
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    border: 1px solid #C74B4B; 
    border-radius: 25px; 
    background-color: transparent; 
    color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer; 
    padding: 0 47px;  
    gap: 10px; 
}

.order-now-btn:hover {
    background-color: #C74B4B;
}

.order-now-btn::before, 
.order-now-btn::after {
    content: '';
    width: 18px; 
    height: 18px; 
    background-image: url('/images/Star3.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.footer-container {
    margin-top: auto; 
    width: 100%;
    background-color: transparent;
    padding: 20px 0; 
    margin-bottom: 20px;
}

.footer-line {
    width: 100%; 
    height: 1px;
    background-color: #C74B4B;
    margin: 0 auto 0;
}

.social-icons {
    display: flex;
    position: relative;
    right: 40px;
    top: 18px;
    justify-content: flex-end;
    gap: 10px;
}

.social-icons a img {
    width: 21px;
    height: 21px;
}